# Node.js
node_modules/
dist/
build/
.npm
*.log
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.csv
*.joblib
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
biasguard-ai/frontend/node_modules/
biasguard-ai/backend/venv/
biasguard-ai/backend/__pycache__/
